<%- include("templates/header.ejs") %>

<h1>Movie Search APP</h1>

<form action="/search" method="GET">
    <input type="text" placeholder="Search keyword" name="movie">
    <button>Click me to search</button>
</form>

<%- include("templates/footer.ejs") %>